<configuration>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="etwTracingBehaviour" type="Tridion.Logging.Behavior.EtwExtensionElement, Tridion.Logging.Behavior, Version=8.5.0.60, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Tridion.ContentManager.CoreServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <etwTracingBehaviour />
        </behavior>        
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <!-- sendTimeout is about the entire operation, incl. traffic. Default: 1 min. -->
      <netTcpBinding>
        <binding name="CoreService_netTcpBinding" transactionFlow="true" transactionProtocol="OleTransactions" maxReceivedMessageSize="2147483647" sendTimeout="00:01:00">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="32" maxNameTableCharCount="81920" />
        </binding>
        </netTcpBinding>      
    </bindings>
    <client>     
      <!-- 201603 contract endpoints -->
      <endpoint name="netTcp_201603" address="net.tcp://localhost:2660/CoreService/201603/netTcp" binding="netTcpBinding" bindingConfiguration="CoreService_netTcpBinding" contract="Tridion.ContentManager.CoreService.Client.ISessionAwareCoreService" behaviorConfiguration="Tridion.ContentManager.CoreServiceBehavior" />
      </client>
  </system.serviceModel>
</configuration>