<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="Tridion.Infrastructure, Version=7.1.0.103, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b"/>
        <add assembly="Tridion.ExternalContentLibrary.DomainModel, Version=7.1.0.103, Culture=neutral, PublicKeyToken=DDFC895746E5EE6B"/>
        <add assembly="Tridion.ExternalContentLibrary.Data, Version=7.1.0.103, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b"/>
        <add assembly="Tridion.Web.UI.Editors.CME, Version=7.1.0.66, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>